/* Defaults */
:root {
  --mono-font: "Andale Mono", Consolas, Menlo, Monaco, monospace, "Ubuntu Mono";
  --sans-font: -apple-system, Arial, Avenir, "Avenir Next", BlinkMacSystemFont, Helvetica, "Helvetica Neue", "Nimbus Sans L", "Noto Sans", Roboto, sans-serif, "Segoe UI";
}

/* Theme colors */
:root {
	--bg: #FFFFFF;
	--text: #001C30;
	--meta: #003B5E;
	--link: #0071AF;
	--link-active: #008FDB;
	--link-visited: #C6E0FF;
	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
	--bg: #001C30;
	--text: #E8F2FF;
	--meta: #C6E0FF;
	--link: #008FDB;
	--link-active: #0071AF;
	--link-visited: #003B5E;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

body,
html {
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--sans-font);
	margin: 0 auto;
	padding: 0;
}
body {
	max-width: 40em;
}
html {
	overflow-y: scroll;
}

main {
	padding: 1rem;
}
main * img {
	max-width: 100%;
}
main * img:not(.l) {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a[href] {
	color: var(--link);
}
a[href]:active,
a[href]:hover {
	color: var(--link-active);
}
a[href]:visited {
	color: var(--link-visited);
}

code,
pre {
	font-family: var(--mono-font);
}
code {
	word-break: break-all;
}

h1 {
	margin-top: 0;
}

hr {
	border: 1px solid var(--meta);
	margin-block: 20px 20px;
}

li {
	line-height: 1.5;
}

p {
	line-height: 1.5;
}
p:last-child {
	margin-bottom: 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

/* Header */
header {
	align-items: center;
	border-bottom: 1px dashed var(--meta);
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
	gap: 1em .5em;
	padding: 1em;
}
header:after {
	clear: both;
	content: "";
	display: table;
}

.logo {
	aspect-ratio: 1/1;
  clip-path: circle();
	width: 48px;
}

.home {
	font-size: 1em;
	font-weight: 700;
	margin-right: 2em;
}
.home:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	flex: 100%;
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	font-weight: bold;
	text-decoration: underline;
}
.nav :not(:last-child) {
	margin-right: 1em;
}

/* Markdown Headers */
.anchor {
	font-size: 1em;
	font-style: normal;
	margin-left: .1em;
	text-decoration: none;
}
a[href].anchor,
a[href].anchor:visited {
	color: transparent;
}
a[href].anchor:focus,
a[href].anchor:hover {
	text-decoration: underline;
}
a[href].anchor:focus,
:hover > a[href].anchor {
	color: var(--meta);
}
h2 + .anchor {
	font-size: 1.5em;
}

footer {
	border-top: 1px dashed var(--meta);
	color: var(--meta);
	font-size: 0.9em;
	padding: 1.5em;
}