/* Global Defaults */
:root {
  --mono-font: "Andale Mono", "Andale Mono WT", "Bitstream Vera Sans Mono",
    Consolas, Courier, "Courier New", "DejaVu Sans Mono", "Liberation Mono",
    "Lucida Console", "Lucida Sans Typewriter", Menlo, Monaco, monospace,
    "Nimbus Mono L", "Ubuntu Mono";
  --sans-font: -apple-system, Arial, Avenir, "Avenir Next", BlinkMacSystemFont,
    Helvetica, "Helvetica Neue", "Nimbus Sans L", "Noto Sans", Roboto, sans-serif,
    "Segoe UI", system-ui;
}

/* Theme Colors */
:root {
  --bg: #FFFFFF;
  --bg-box: #E8F2FF;
  --border: #008FDB;
  --link: #0071AF;
  --meta: #003B5E;
  --text: #001C30;
  --code: #AC5C00;
  --mark: #ffe53e;
}

@media (prefers-color-scheme: dark) {
	:root {
    --bg: #001C30;
    --bg-box: #003B5E;
    --border: #0071AF;
    --link: #008FDB;
    --meta: #C6E0FF;
    --text: #E8F2FF;
    --code: #D57300;
    --mark: #fff9e5;
	}
}

/* Stylesheet */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
	font-family: var(--sans-font);
	overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Theme Specific */
body {
	background-color: var(--bg);
	color: var(--text);
	margin: 0 auto;
	padding: 0;
	max-width: 40em;
}

header {
	align-items: center;
	border-bottom: 1px dashed var(--border);
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
	gap: 1em .5em;
	padding: 1em;
}
header:after {
	clear: both;
	content: "";
	display: table;
}

.logo {
	aspect-ratio: 1/1;
  clip-path: circle();
	width: 48px;
}

.home {
	font-size: 1em;
	font-weight: 700;
	margin-right: 2em;
}
.home:link:not(:hover) {
	text-decoration: none;
}

.nav {
	display: flex;
  float: right;
	flex: 100%;
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav-item a[href][aria-current="page"] {
	font-weight: bold;
	text-decoration: underline;
}
.nav :not(:last-child) {
	margin-right: 1em;
}

main {
	padding: 1rem;
}

footer {
	border-top: 1px dashed var(--border);
	color: var(--meta);
	font-size: 0.9em;
	padding: 1em;
  text-align: center;
}
footer a {
  text-decoration: none;
}

h1 {
	margin-top: 0;
}

li,
p {
	line-height: 1.5;
}

/* Variables */
a {
	color: var(--link);
}

a:active,
a:hover,
a:visited {
	color: var(--border);
  text-decoration: none;
}

abbr[title] {
  cursor: help;
}

hr {
	border: 1px solid var(--border);
  margin: 1rem auto;
}

mark {
  background-color: var(--mark);
  border-radius: 5px;
  color: #001C30;
  padding: 2px 5px;
}

mark a {
  color: #0071AF;
}

/* Special elements */
article, aside, details, pre {
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

aside, details, pre {
  background-color: var(--bg-box);
}

aside {
  float: right;
  margin-inline-start: 1rem;
  width: 30%;
}
*[dir="rtl"] aside {
  float: left;
}

blockquote {
  border-inline-start: 0.25rem solid var(--link);
  margin-inline-start: 1rem;
  margin-inline-end: 0;
  margin-block: 1.5rem;
  padding: 0 0.8rem;
}

cite, dd {
  color: var(--meta);
  font-size: 0.9rem;
}

code, kbd, pre, pre span, samp {
  color: var(--code);
  font-family: var(--mono-font);
}

kbd {
  border: 1px solid var(--meta);
  border-bottom: 3px solid var(--meta);
  border-radius: 5px;
  color: var(--meta);
  padding: 0.1rem 0.4rem;
}

pre {
  color: var(--meta);
  max-width: 100%;
  overflow: auto;
}

pre code {
  background: none;
  color: var(--meta);
  margin: 0;
  padding: 0;
}

summary {
  cursor: pointer;
  font-weight: bold;
  margin: -0.5rem -1rem;
  padding: 0.5rem 1rem;
  word-break: break-all;
}

details[open] > summary + * {
  margin-top: 0;
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

details[open] > :last-child {
  margin-bottom: 0;
}

img, video {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
}

figure {
  display: block;
  margin: 0;
  overflow-x: auto;
}

figcaption {
  color: var(--meta);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0.5rem 0;
}

td, th {
  border: 1px solid var(--border);
  padding: 0.5rem;
  text-align: start;
}

th {
  background-color: var(--bg-box);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--bg-box);
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Classes */
.notice {
  background: var(--bg-box);
  border: 1px solid var(--border);
  border-radius: 5px;
  margin: 1.5rem 0;
  padding: 1rem;
}