/* Global Defaults */
:root {
  --mono-font: "Andale Mono", "Andale Mono WT", "Bitstream Vera Sans Mono",
    Consolas, Courier, "Courier New", "DejaVu Sans Mono", "Liberation Mono",
    "Lucida Console", "Lucida Sans Typewriter", Menlo, Monaco, monospace,
    "Nimbus Mono L", "Ubuntu Mono";
  --sans-font: -apple-system, Arial, Avenir, "Avenir Next", BlinkMacSystemFont,
    Helvetica, "Helvetica Neue", "Nimbus Sans L", "Noto Sans", Roboto, sans-serif,
    "Segoe UI", system-ui;
}

/* Theme Colors */
:root {
  --bg: #FFFFFF;
  --bg-box: #E8F2FF;
  --border: #008FDB;
  --link: #0071AF;
  --meta: #003B5E;
  --text: #001C30;
  --code: #AC5C00;
  --mark: #ffe53e;
}

@media (prefers-color-scheme: dark) {
	:root {
    --bg: #001C30;
    --bg-box: #003B5E;
    --border: #0071AF;
    --link: #008FDB;
    --meta: #C6E0FF;
    --text: #E8F2FF;
    --code: #D57300;
    --mark: #fff9e5;
	}
}

/* Stylesheet */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
	font-family: var(--sans-font);
	overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
	background-color: var(--bg);
	color: var(--text);
	margin: 0 auto;
	padding: 0;
	max-width: 40em;
}

header {
	align-items: center;
	border-bottom: 1px dashed var(--border);
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
	gap: 1em .5em;
	padding: 1em;
}
header:after {
	clear: both;
	content: "";
	display: table;
}

.logo {
	aspect-ratio: 1/1;
  clip-path: circle();
	width: 48px;
}

.home {
	font-size: 1em;
	font-weight: 700;
	margin-right: 2em;
}
.home:link:not(:hover) {
	text-decoration: none;
}

.nav {
	flex: 100%;
	justify-content: space-evenly;
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-item {
	display: inline-block;
}

.nav :not(:last-child) {
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
	font-weight: bold;
}

main {
	padding: 1rem;
}
main:first-child {
	margin-top: 0;
}
main * img {
	max-width: 100%;
}
main * img:not(.l) {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	border-top: 1px dashed var(--border);
	color: var(--meta);
	font-size: 0.9em;
	padding: 1em;
}
footer a {
	text-align: center;
  text-decoration: none;
}

/* Variables */
a {
	color: var(--link);
}
a:active,
a:hover,
a:visited {
	color: var(--border);
  text-decoration: none;
}

code,
pre {
	font-family: var(--mono-font);
}
code {
	word-break: break-all;
}

hr {
	border: 1px solid var(--border);
	margin-block: 20px 20px;
}

h1 {
	margin-top: 0;
}

li,
p {
	line-height: 1.5;
}
p:last-child {
	margin-bottom: 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

/* Extras */
.notice {
	display: block;
	background-color: var(--bg-box);
	color: var(--text);
	padding: 1em;
}
.notice ol {
	margin-top: 0;
}